* {
    margin: 1px;
    padding: 0px;   
    background-color: rgb(247, 212, 160);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "lateral principal principal2"
        "lateral principal principal2"
        "lateral principal principal2"
        "footer footer footer"
    ;
}

.header {
    grid-area: header;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}

.header p {
    font-size: 75px;
}

.header a {
    text-decoration: none;
    display: block;
    padding: 10px;
    background: rgba(243, 148, 6, 0.1);
    transition: 0.1s;
    border-radius: 5px;
}

.header a:hover {
    background: rgba(243, 148, 6, 0.5);
}

.lateral {
    grid-area: lateral;
    display: grid;
    grid-template-columns: 150px 200px;
    margin-right: 10px;
}

.lateral p {
    text-align: fixed;
    margin-top: 5px;
    margin-bottom: 5px;
}

.volei1 {
    max-width: 348px;
    grid-column: 1 / -1;
}

.titulos {
    text-transform: uppercase;
    grid-column: 1 / -1;
    text-align: center;
    background: rgba(243, 148, 6, 0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal {
    grid-area: principal;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.textoprincipal {
    grid-column:  1 / -1;
}

.principal p {
    padding: 5px;
    text-align: justify;
    font-size: 25px;
}

.imagemprincipal {
    max-width: 450px;
}

.principal2 {
    grid-area: principal2;
    margin-top: 25px;
}

.footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
}
